@model IEnumerable<RecursosHumanosF.Models.nomina>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-info font-weight-bold">Lista de nominas</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "Create")
    @using (Html.BeginForm())
    {
    <p>
        Mes: @Html.TextBox("SearchString") 
        <input type="submit" value="Buscar" />
    </p>}
    </p>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto_Total)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ano)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Monto_Total)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
